

/*@media screen and (max-width: 600px) {*/
    /*.nav.responsive {position: relative;}*/
    /*.nav.responsive .icon {*/
        /*position: absolute;*/
        /*right: 0;*/
        /*top: 0;*/
    /*}*/
    /*.nav.responsive a {*/
        /*float: none;*/
        /*display: block;*/
        /*text-align: left;*/
    /*}*/
/*}*/

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/header_img.jpg");
    background-size: cover;
    background-attachment: fixed;

    margin: 0;
}

header {
    height: 700px;
    min-height: 500px;
    width: 100%;
    background: #141111 url(../img/header-background.jpg) no-repeat top center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

}



.nav {
    min-height: 48px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    top: 0;
    position: fixed;
    background-color: #424242;

    display: flex;
    justify-content: center;
}

.nav a {
    color: white;
    text-decoration: none;

    margin: 1%;
}

a:hover {
    color: #26C6DA;
}


.active {
    /*background-color: #26C6DA;*/
    color: #26C6DA;
}

.nav .icon {
    display: none;
}
/*Profile Image*/

#profile-image {
    margin-top: 5%;
    max-width: 200px;
    max-height: 200px;

    border-radius: 50%;

    align-self: center;

}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
    list-style-type: none;

}

.social a {
    margin: 1%;
    align-self: center;
}

hr {
    margin: 0 10% 0 10%;
    background-color: revert;
}

a {
    color: white;
}

/*block div*/
header .block-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: auto;
    min-height: auto;

    background-color: rgba(33, 33, 33, .8);
    margin: 0 10% 0 10%;
    padding: 1%;

    color: white;
}

.block-div#about {
    background-color: transparent;
}

#about p {
    background-color: rgba(224,224,224 ,.1);
    padding: 3%;
}

.block-div#education {
    background-color: white;
    color: black;
}

.block-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: #212121;
    padding: 5% 12% 5% 12%;

    color: white;


    min-height: 500px;
    height: 100%;
}

.section-title {
    color: #26C6DA;
}

.block-div ul{
    list-style-type: none;

}

.education-item {
    display: flex;
    align-content: center;
}

.education-item-content{
    display: flex;
    flex-direction: column;
}

.education-item img{
    width: 150px;
    height: 150px;
    margin: 2%;
}


/*employment item*/
.block-div#employment {
    background-color: white;
    color: black;
}





/*Skill item*/
.skill-item {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 2%;
    width: 100%;
}

.skill-item progress {
    width: 50%;

}

.skill-item p{
    color: rgba(255, 255, 255, 0.51);
}



footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #212121;
    padding: 5% 12% 5% 12%;

    color: white;
}


.contact-me {
    display: flex;
    flex-direction: column;
}



