
/*Media Queries*/

@media screen and (max-width: 600px) {
    .nav a {display: none;}

    .nav a.icon {
        float: right;
        display: block;
        font-size: 200%;
        margin-bottom: 2%;
        color: #26C6DA;
    }


    .nav {
        background-color: transparent;
        justify-content: flex-end;
    }

    .nav.responsive {
        background-color: #424242;
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .nav.responsive .icon {
        align-self: flex-end;
    }

    .nav.responsive a {
        display: flex;
        align-self: center;
    }


    .skill-item-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /*Skill item*/
    .skill-item {

        align-items: center;
        margin: 2%;
        width: 100%;
    }

}