/*Max screen size 480 px*/
@media only screen and (max-width: 480px) {

    /* mobile navigation
    -------------------------------------------------------------------- */
    #nav-wrap ul#nav { width: auto; float: none; }

    /* header styles
    -------------------------------------------------------------------- */
    header .block-div { padding-top: 24px; }
    header .block-div h1 {
        font: 40px/1.1em 'opensans-bold', sans-serif;
        margin: 0 auto 24px auto;
    }
    header .block-div h3 {
        font: 14px/1.9em 'librebaskerville-regular', sans-serif;
        width: 90%;
    }

    /* header social links */
    header .social { font-size: 20px;}
    header .social li { margin: 0 6px; }

    /* footer
    ------------------------------------------------------------------------ */

    /* social links */
    footer .social-links { font-size: 20px; }
    footer .social-links li { margin-left: 14px; }

}









